@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
  background: #f8f8f8;
  transition: background 300ms linear;
}

.App {
  margin-left: auto;
  margin-right: auto;
  width: 470px;
  margin-top: 300px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.synth {
  background: #ee2375;
  width: 100%;
  height: 190px;
  border-radius: 0.15em;
  text-align: center;
  position: relative;
}

.synth span {
  font-family: 'Monoton', cursive;
  color: #bb1b5c;
  display: block;
  width: 4em;
  font-size: 1.5em;
  padding-left: 0.5em;
}

.keys {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.key {
  width: 30px;
  height: 60px;
  display: inline-block;
  border: 1px solid #ce0355;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 0.15em;
}

.key.white {
  background: #f8f8f8;
  border-top: 4px solid #d8d8d8;
  height: 104px;
  z-index: 0;
  position: relative;
  border-bottom: 4px solid #ce0355;
}

.key.black {
  width: 20px;
  position: relative;
  background: #3e3e3e;
  border-top: 4px solid #2e2e2e;
  z-index: 1;
  margin-left: -10px;
  margin-right: -10px;
}
